.card {
  border: 1px solid var(--border-color);
  border-radius: 12px;
  width: 100%;
}

.head {
  padding: 10px;
  min-height: 41px;
  border-bottom: 1px solid var(--border-color);
  display: flex;
  align-items: center;
}

.headContent {
  display: flex;
  gap: 4px;
  align-items: center;
}

.content {
  padding: 18px 10px 10px 10px;
}

.collapsed {
  display: flex;
  flex-direction: column;
  gap: 18px;
}
